.customOrder{
    &__heading{
        padding: 5rem 0;

        p{
            font-size: 1.5rem;
        }
    }

    &__mainContent{
        &--item{
            margin-bottom: 4rem;

            h2{
                font-size: 2rem;
                padding: 2rem 0;
                margin: 1rem 0;
            }

            p{
                font-size: 1.5rem;
                margin: 2rem 0;
            }
        }
    }
}