.footer{
    background-color: $darkBackground;
    color: $lightText;

    &--wrapper{
        @include flexbox(column, flex-start, flex-start, 2rem);
        font-size: 1.5rem;
        padding: 4rem 0;

        .footer__primary{
            h3{
                font-size: 1.75rem;
                text-transform: uppercase;
                padding: 2rem 0
            }
            ul{
                li{
                    border-bottom: solid transparent 2px;
                }
            }
        }

        .footer__secondary{
            h3{
                font-size: 1.75rem;
                text-transform: uppercase;
                padding: 2rem 0
            }
            ul{
                li{
                    border-bottom: solid transparent 2px;
                }
            }
            .navbar{
                @include flexbox(column, flex-start, flex-start, .1rem);
                .nav__link{
                    color: $lightText;
                    border-bottom: solid transparent 2px;

                    &:hover{
                        border-bottom: solid $accentColor 2px;
                    }
                }
            }
            .footer--icon{
                font-size: 2rem; 
                margin-right: 1rem;

                &:hover{
                    color: $accentColor;
                }
            }
        }
    }
}