@import 'variable';

.header{
    font-size: 1.6rem;
    padding: 2.5rem 0;
    background-color: $darkBackgroundAlt;
    //box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.55);
    &--wrapper{
        @include flexbox(row, space-between, center, 1rem);

        .brandName{
            font-family: 'Noto Sans', sans-serif;
            font-size: 2.75rem;
            color: $darkText;
        }

        .navbar{
            @include flexbox(row, flex-start, flex-start, 2rem);

            .nav__link{
                padding: 1rem 0;
                border-bottom: solid .3rem transparent;
                color: $darkText;
                font-family: 'Noto Sans', sans-serif;

                // &:hover{
                //     border-bottom: solid .3rem $accentColor;
                // }

                &:active{
                    border-bottom: solid .3rem $accentColor;
                }
            }
        }
    }   
}