.hero{
    height: 100vh;
    &__text{
        @include flexbox(column, flex-start, flex-start, 2rem);
        padding: 4rem 0;

        &--image{
            display: block;
            padding: 2rem 0;
            align-self: center;
        }

        .paragraph{
            margin: 2rem 0;
        }

        .hero__links{
            width: 100%;

            .btn{
                font-size: 2rem;
                display: block;
                width: inherit;
                margin-bottom: 2rem;
            }

            .callToAction{
                background-color: $accentColor;
                color: $lightText;
                &:hover{
                    background-color: $accentColorHover;
                }
            }
        }
    }
    &__image{
        display: none;

    }
}

