.inventorySingle{
    .link{
        font-size: 1.5rem;
        color: $darkTextAlt;

        &:hover{
            color: $accentColor;
        }
    }
    &--wrapper{
        margin: 4rem 0;
        .inventorySingle__item{
            font-size: 1.5rem;

            .mainTitle{
                margin: 2rem 0;
            }

            h3{
                font-size: 2.75rem;
                margin: 2rem 0;
            }

            .accentColor{
                color: $accentColor2;
            }

            &--spec{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                
                column-gap: 2rem;
                margin-bottom: 4rem;

                .spec--item{
                    @include flexbox(row, space-between, center);
                    border-bottom: solid 1px rgb(206, 206, 206);
                    padding: 2.5rem 0;
                }
            }
        }
    }
}