@import 'config';

@include media-sm{
    .header{
        .navbar{
            display: none;
        }
    }

    .home{
        .latestVehicles{
            //@include flexbox(column);
            &__item:last-child{
                .btn{
                    width: 100%
                }
            }
        }

        .readyToConnect{
            text-align: center
        }
    }
}

@include media-md{
    .home{
       

        .happyCustomers{
            &__item{
                @include flexbox();
                gap: 4rem;
            }

            &__item:last-child{
                justify-content: flex-end;
            }
        }


        .readyToConnect{
            .container{
                @include flexbox(row, space-between, center);
            }
        }
    }


   

    .inventory{
        .inventoryMain{
            .inventory--wrapper{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2.5rem;
            }
        }
    
    }

    .inventorySingle{
        &--wrapper{
            .inventorySingle__item{
                &--spec{
                    grid-template-columns: repeat(2, 1fr) !important;
                }
            }
        }
    }


    .footer{
        &--wrapper{
            @include flexbox(row, space-between, flex-start);
        }
    }
    
}
@include media-lg{
    .hero{
        @include flexbox(row, space-between, center);
        &__text{
            width: 40%;
            @include flexbox(column, flex-start, flex-start, 2rem);
            padding: 0;
    
            &--image{
                display: none !important;
                border: solid 5px green;
            }
    
    
            .paragraph{
                margin: 0;
            }
    
            .hero__links{
                @include flexbox();
    
                .callToAction{
                    background-color: $accentColor;
                    color: $lightText;
                    text-transform: capitalize;
                }
            }
        }
        &__image{
            width: 50%;
            display: block !important;
            align-items: center;
        }
    }

    .home{
        .latestVehicles{
            &__item{
                @include flexbox(row, space-between);

                .mainTitle{
                    padding: 0;
                }

                &--info{
                    width: 22.5%;
                }

                &--cards{
                    width: 72.5%;
                    @include flexbox(row, space-between, flex-start, 2.5rem);

                    .link{
                        flex-grow: 1;
                    }
                }
            }

            &__item:last-child{
                justify-content: flex-end;
            }
        }

        .aboutUs{
            .container{
                @include flexbox(row, space-between);

                .aboutUs__item{
                    width: 47.5%;
                }
            }
        }
    }

    


    .inventory{
        .inventoryMain{
            .inventory--wrapper{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 2.5rem;
            }
        }
    
    }

    .inventorySingle{
        &--wrapper{
            .inventorySingle__item.top{
                @include flexbox(row, space-between, center);
                min-height: 70vh;

                .inventorySingle__item--text{
                    width: 45%;
                    h3{
                        width: 65%;
                    }
                }
                .inventorySingle__item--img{
                    width: 45%;
                }
            }

            .inventorySingle__item{
                &--spec{
                    grid-template-columns: repeat(3, 1fr) !important;
                }
            }
        }
    }

    .customOrder{
        &__mainContent{
            @include flexbox(column);
            &--item{
                width: 45%;

            }
            .customOrder__mainContent--item + .customOrder__mainContent--item{
                align-self: flex-end;
            }
        }
    }

    .happyCustomers{
        &__mainContent{
            @include flexbox(column);
        }
        
        .testimonial{
           width: 65%
        }

        &__gallery{
            &--item{
                grid-template-columns: repeat(4, 1fr) !important;
            }
        }
    }

    .error{
        &--wrapper{
            @include flexbox();

            .error__item{
                width: 50%;
            }
        }
    }

    .contact{
        &__mainContent{
            @include flexbox(row, space-between);

            &--item{
                width: 50%;
            }
        }
    }
}