$accentColor: rgb(212, 26, 26);
$accentColorHover: rgb(216, 59, 59);

$accentColor2: rgb(6, 143, 102);
$darkBackground: rgb(27, 27, 27);
$darkText: #000000;
$darkTextAlt: rgb(58, 58, 58);
$lightText: #ffffff; 

@mixin flexbox($direction: row, $justify: flex-start, $align: flex-start, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

//font-family: 'Poppins', sans-serif;