*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.navbar .nav__link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Noto Sans", sans-serif;
}

.header {
  font-size: 1.6rem;
  padding: 2.5rem 0;
  background-color: #EFEFEF;
  position: relative;
}
.header--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header--wrapper .brandName {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.75rem;
  color: rgb(15, 47, 105);
  text-decoration: none;
  font-weight: bold;
}
.header--wrapper .icon {
  font-size: 2rem;
}
.header--wrapper .navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.header--wrapper .navbar .nav__link {
  padding: 1rem 0;
  border-bottom: solid 0.3rem transparent;
  color: #000000;
  font-family: "Noto Sans", sans-serif;
}
.header--wrapper .navbar .nav__link:hover {
  border-bottom: solid 0.3rem rgb(15, 47, 105);
}
.header--wrapper .mobile__nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  background-color: rgb(15, 47, 105);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.header--wrapper .mobile__nav .icon.close {
  font-size: 2.5rem;
  color: #ffffff;
  position: absolute;
  top: 2.5rem;
  left: 5rem;
}
.header--wrapper .mobile__nav .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header--wrapper .mobile__nav .nav__list .nav__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2rem;
  padding: 2rem 0;
  border-bottom: solid 0.5rem transparent;
}
.header--wrapper .mobile__nav .nav__list .nav__link:hover {
  border-bottom: solid 0.5rem #ffffff;
}

.footer {
  background-color: rgb(27, 27, 27);
  color: #ffffff;
  margin-top: 4rem;
}
.footer--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 4rem 0;
}
.footer--wrapper .footer__primary h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 2rem 0;
}
.footer--wrapper .footer__primary ul li {
  border-bottom: solid transparent 2px;
}
.footer--wrapper .footer__secondary h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 2rem 0;
}
.footer--wrapper .footer__secondary ul li {
  border-bottom: solid transparent 2px;
}
.footer--wrapper .footer__secondary .navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1rem;
}
.footer--wrapper .footer__secondary .navbar .nav__link {
  color: #ffffff;
  border-bottom: solid transparent 2px;
}
.footer--wrapper .footer__secondary .navbar .nav__link:hover {
  border-bottom: solid rgb(15, 47, 105) 2px;
}
.footer--wrapper .footer__secondary .footer--icon {
  font-size: 2rem;
  margin-right: 1rem;
}
.footer--wrapper .footer__secondary .footer--icon:hover {
  color: rgb(15, 47, 105);
}

@media screen and (max-width: 859px) {
  .header .navbar {
    display: none;
  }
  .home .latestVehicles__item:last-child .btn {
    width: 100%;
  }
  .home .readyToConnect {
    text-align: center;
  }
}
@media screen and (min-width: 860px) {
  .header--wrapper .icon.menu {
    display: none;
  }
  .home .happyCustomers__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    gap: 4rem;
  }
  .home .happyCustomers__item:last-child {
    justify-content: flex-end;
  }
  .home .readyToConnect .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .inventory .inventoryMain .inventory--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  .inventorySingle--wrapper .inventorySingle__item--spec {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .footer--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media screen and (min-width: 1080px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .hero__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 0;
  }
  .hero__text--image {
    display: none !important;
    border: solid 5px green;
  }
  .hero__text .paragraph {
    margin: 0;
  }
  .hero__text .hero__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .hero__text .hero__links .callToAction {
    background-color: rgb(15, 47, 105);
    color: #ffffff;
    text-transform: capitalize;
  }
  .hero__image {
    width: 50%;
    display: block !important;
    align-items: center;
  }
  .home .latestVehicles__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .home .latestVehicles__item .mainTitle {
    padding: 0;
  }
  .home .latestVehicles__item--info {
    width: 22.5%;
  }
  .home .latestVehicles__item--cards {
    width: 72.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
  }
  .home .latestVehicles__item--cards .link {
    flex-grow: 1;
  }
  .home .latestVehicles__item:last-child {
    justify-content: flex-end;
  }
  .home .aboutUs .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .home .aboutUs .container .aboutUs__item {
    width: 47.5%;
  }
  .inventory .inventoryMain .inventory--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
  .inventorySingle--wrapper .inventorySingle__item.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    min-height: 80vh;
  }
  .inventorySingle--wrapper .inventorySingle__item.top .inventorySingle__item--text {
    width: 45%;
  }
  .inventorySingle--wrapper .inventorySingle__item.top .inventorySingle__item--text h3 {
    width: 65%;
  }
  .inventorySingle--wrapper .inventorySingle__item.top .inventorySingle__item--img {
    width: 45%;
  }
  .inventorySingle--wrapper .inventorySingle__item--spec {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .customOrder__mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .customOrder__mainContent--item {
    width: 45%;
  }
  .customOrder__mainContent .customOrder__mainContent--item + .customOrder__mainContent--item {
    align-self: flex-end;
  }
  .happyCustomers__mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .happyCustomers .testimonial {
    width: 65%;
  }
  .happyCustomers__gallery--item {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .error--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .error--wrapper .error__item {
    width: 50%;
  }
  .contact__mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .contact__mainContent--item {
    width: 50%;
  }
}
.hero {
  height: 100vh;
}
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem 0;
}
.hero__text--image {
  display: block;
  padding: 2rem 0;
  align-self: center;
}
.hero__text .paragraph {
  margin: 2rem 0;
}
.hero__text .hero__links {
  width: 100%;
}
.hero__text .hero__links .btn {
  font-size: 2rem;
  display: block;
  width: inherit;
  margin-bottom: 2rem;
}
.hero__text .hero__links .callToAction {
  background-color: rgb(15, 47, 105);
  color: #ffffff;
}
.hero__text .hero__links .callToAction:hover {
  opacity: 0.7;
}
.hero__image {
  display: none;
}

.mainTitle {
  font-size: clamp(4rem, 5vw, 6rem);
  position: relative;
  padding: 2rem 0;
  color: rgb(41, 41, 41);
  font-family: "Archivo Black", sans-serif;
}
.mainTitle::before {
  content: "";
  background-color: rgb(15, 47, 105);
  height: 0.5rem;
  width: 10rem;
  position: absolute;
  bottom: 0;
}

.paragraph {
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  line-height: 2.75rem;
}

.btn {
  text-decoration: none;
  padding: 1em 2em;
  color: #000000;
  background-color: #EFEFEF;
  text-align: center;
  text-transform: capitalize;
  border: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  transform: translateY(-0.5rem);
  opacity: 0.85;
}

.link {
  text-decoration: none;
  color: #000000;
}

.divider {
  background-image: url(../../public//images/wave3.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  height: 10rem;
}

.divider--alt {
  background-image: url(../../public//images/wave3.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  height: 10rem;
}

.a {
  text-decoration: none;
}

.inventory__heading {
  background-color: #EFEFEF;
}
.inventory .inventoryMain .inventory__sort {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.inventory .inventoryMain .inventory__sort h4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}
.inventory .inventoryMain .inventory__sort .btn {
  font-size: 1.5rem;
}
.inventory .inventoryMain .inventory__sort .btn:hover {
  background-color: rgb(15, 47, 105);
  color: #ffffff;
}
.inventory .inventoryMain .inventory--wrapper {
  display: grid;
  margin-bottom: 5rem;
}

.inventoryCard {
  margin: 4rem 0;
  position: relative;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  transition: all 0.25s ease-in-out;
  background-color: #ffffff;
  font-family: "Noto Sans", sans-serif;
}
.inventoryCard:hover {
  transform: scale(1.05);
}
.inventoryCard .inventoryCard__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
}
.inventoryCard .inventoryCard__info {
  height: 50%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.inventoryCard .inventoryCard__info--name {
  color: rgb(15, 47, 105);
  font-size: 2.25rem;
}
.inventoryCard .inventoryCard__info--price {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(201, 29, 29);
  padding: 0.75rem 0;
}
.inventoryCard .inventoryCard__info--type {
  color: rgb(41, 41, 41);
  font-size: 1.25rem;
  opacity: 0.5;
}
.inventoryCard .inventoryCard__kilometers {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgb(201, 29, 29);
  color: white;
  padding: 0.5rem 1.2rem;
}

.customOrder__heading {
  padding: 4rem 0;
  background-color: #EFEFEF;
}
.customOrder__mainContent--item {
  margin-bottom: 4rem;
}
.customOrder__mainContent--item h2 {
  font-size: 2.75rem;
  padding: 2rem 0;
  margin: 1rem 0;
}
.customOrder__mainContent--item .paragraph {
  padding: 1.25rem 0;
}

.contact {
  min-height: 100vh;
}
.contact__heading {
  padding: 4rem 0;
  background-color: #EFEFEF;
}
.contact__mainContent--item {
  margin-bottom: 4rem;
}
.contact__mainContent--item .mainTitle {
  font-size: 2.5rem;
  margin: 2rem 0;
}
.contact__mainContent--item h5 {
  font-size: 1.75rem;
  font-family: "Noto Sans", sans-serif;
  margin: 2.5rem 0;
}
.contact__mainContent--item div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  margin: 1.5rem 0;
}
.contact__mainContent--item div .contact--icon {
  font-size: 2rem;
}
.contact__mainContent--item div .facebook {
  color: royalblue;
}
.contact__mainContent--item div .instagram {
  color: orange;
}
.contact__mainContent--item div a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.contact--icon {
  color: rgb(15, 47, 105);
  margin-right: 1rem;
}

.error {
  height: 100vh;
  display: grid;
  place-items: center;
}
.error--wrapper .paragraph {
  margin: 4rem 0;
}
.error--wrapper .paragraph .link {
  color: rgb(15, 47, 105);
}
.error--wrapper .paragraph .link:hover {
  text-decoration: underline;
}

.inventorySingle .link {
  font-size: 1.5rem;
  color: rgb(41, 41, 41);
}
.inventorySingle .link:hover {
  color: rgb(15, 47, 105);
}
.inventorySingle--wrapper {
  padding: 4rem 0;
}
.inventorySingle--wrapper .inventorySingle__item.top {
  min-height: 100vh;
  margin-bottom: 4rem;
}
.inventorySingle--wrapper .inventorySingle__item {
  font-size: 1.5rem;
}
.inventorySingle--wrapper .inventorySingle__item--text .mainTitle {
  margin: 2rem 0;
}
.inventorySingle--wrapper .inventorySingle__item--text h3 {
  font-size: 2.75rem;
  margin: 2rem 0;
}
.inventorySingle--wrapper .inventorySingle__item--text .accentColor {
  color: rgb(201, 29, 29);
}
.inventorySingle--wrapper .inventorySingle__item--spec {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  margin-bottom: 4rem;
}
.inventorySingle--wrapper .inventorySingle__item--spec .spec--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: solid 1px rgb(206, 206, 206);
  padding: 2.5rem 0;
}
.inventorySingle--wrapper .inventorySingle__item--spec .spec--item div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start 1.5rem;
  gap: 1rem;
}
.inventorySingle--wrapper .inventorySingle__item--spec .spec--item div img {
  width: 2rem;
}

.happyCustomers__heading {
  padding: 4rem 0;
  background-color: #EFEFEF;
}
.happyCustomers__mainContent .testimonial {
  margin: 4rem 0;
}
.happyCustomers__mainContent .testimonial .mainTitle {
  font-size: 2.5rem;
}
.happyCustomers__mainContent .testimonial .rating {
  font-size: 1.75rem;
}
.happyCustomers__mainContent .testimonial .paragraph {
  padding: 1.75rem 0;
}
.happyCustomers__mainContent .testimonial__customer {
  font-size: 1.75rem;
  font-family: "Noto Sans", sans-serif;
  color: rgb(15, 47, 105);
  margin: 2rem 0;
}
.happyCustomers__gallery .mainTitle {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.happyCustomers__gallery--item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.happyCustomers__gallery--item div {
  overflow: hidden;
}
.happyCustomers__gallery--item div img {
  transition: all 0.25s ease-in-out;
}
.happyCustomers__gallery--item div img:hover {
  transform: scale(1.05);
}

.home .experiences {
  margin: 4rem 0;
}
.home .experiences .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.home .experiences .container .experiences__item {
  text-align: center;
  width: 27.5%;
}
.home .experiences .container .experiences__item .icon {
  font-size: clamp(2.5rem, 5vw, 10rem);
  color: rgb(15, 47, 105);
}
.home .experiences .container .experiences__item h5 {
  font-size: clamp(1.25rem, 1vw, 2rem);
  padding: 2rem 0;
}
.home .latestVehicles {
  padding: 10rem 0;
}
.home .latestVehicles__item .mainTitle {
  font-size: 2.75rem;
  padding: 2rem 0;
}
.home .latestVehicles__item .paragraph {
  margin: 4rem 0;
}
.home .latestVehicles__item .btn {
  font-size: 2rem;
  background-color: rgb(15, 47, 105);
  color: #ffffff;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home .latestVehicles__item--cards {
  margin-bottom: 4rem;
}
.home .aboutUs {
  background-image: url(../../public/images/wave1.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  margin: 10rem 0;
  padding: 4rem 0;
}
.home .aboutUs__item .mainTitle {
  font-size: 2.5rem;
}
.home .aboutUs__item .paragraph {
  padding: 1rem 0;
}
.home .happyCustomers {
  padding: 4rem 0;
  background-color: #EFEFEF;
}
.home .happyCustomers .mainTitle {
  font-size: 2.5rem;
}
.home .happyCustomers .paragraph {
  padding: 1rem 0;
}
.home .happyCustomers__item .testimonialsCard {
  background-color: #ffffff;
  margin: 4rem 0;
  position: relative;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
.home .happyCustomers__item .testimonialsCard__image {
  height: 50%;
}
.home .happyCustomers__item .testimonialsCard__image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  width: 100%;
}
.home .happyCustomers__item .testimonialsCard__info {
  padding: 2rem;
  font-family: "Noto Sans", sans-serif;
}
.home .happyCustomers__item .testimonialsCard__info h5 {
  color: rgb(15, 47, 105);
  font-size: 1.7rem;
}
.home .happyCustomers__item .testimonialsCard__info h6 {
  font-size: 1.25rem;
  padding: 1rem 0;
}
.home .happyCustomers__item .testimonialsCard .icon {
  color: #ffffff;
  font-size: 5rem;
  background-color: rgb(15, 47, 105);
  padding: 1.25rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  left: 5rem;
  z-index: 1;
}
.home .happyCustomers__item .btn {
  background-color: rgb(15, 47, 105);
  font-size: 2rem;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home .readyToConnect {
  padding: 10rem 0;
}
.home .readyToConnect__info h1 {
  font-size: clamp(3.5rem, 4vw, 5rem);
  padding: 2rem 0;
  color: rgb(41, 41, 41);
  font-family: "Archivo Black", sans-serif;
  padding: 4rem 0;
}
.home .readyToConnect__info h1 span {
  color: rgb(15, 47, 105);
}

.carousel {
  position: relative;
  height: 300px;
  width: 90%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__track--container {
  background-color: rgb(27, 27, 27);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.25s ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  font-size: 1.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  cursor: pointer;
  border: none;
  background: transparent;
}

.carousel__button--left {
  left: -50px;
}

.carousel__button--right {
  right: -50px;
}

.carousel__nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  gap: 10px;
  max-width: 100%;
}

.carousel__indicator {
  border: none;
  opacity: 0.3;
  cursor: pointer;
  width: 20%;
}

.carousel__indicator.current--slide {
  opacity: 1;
}

.is-hidden {
  display: none;
}

#map {
  height: 40rem;
}

#contactMap {
  height: 40rem;
}/*# sourceMappingURL=main.css.map */