*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.navbar .nav__link {
  text-decoration: none;
  text-transform: capitalize;
}

.header {
  font-size: 1.6rem;
}
.header--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header--wrapper .navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.header--wrapper .navbar .nav__link {
  padding: 1rem 0;
  border-bottom: solid 0.3rem transparent;
  color: #000000;
}
.header--wrapper .navbar .nav__link:active {
  border-bottom: solid 0.3rem rgb(212, 26, 26);
}

.footer {
  background-color: rgb(27, 27, 27);
  color: #ffffff;
}
.footer--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 4rem 0;
}
.footer--wrapper .footer__primary h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 2rem 0;
}
.footer--wrapper .footer__primary ul li {
  border-bottom: solid transparent 2px;
}
.footer--wrapper .footer__secondary h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 2rem 0;
}
.footer--wrapper .footer__secondary ul li {
  border-bottom: solid transparent 2px;
}
.footer--wrapper .footer__secondary .navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1rem;
}
.footer--wrapper .footer__secondary .navbar .nav__link {
  color: #ffffff;
  border-bottom: solid transparent 2px;
}
.footer--wrapper .footer__secondary .navbar .nav__link:hover {
  border-bottom: solid rgb(212, 26, 26) 2px;
}
.footer--wrapper .footer__secondary .footer--icon {
  font-size: 2rem;
  margin-right: 1rem;
}
.footer--wrapper .footer__secondary .footer--icon:hover {
  color: rgb(212, 26, 26);
}

@media screen and (max-width: 600px) {
  .header .navbar {
    display: none;
  }
}
@media screen and (min-width: 860px) {
  .footer--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .inventory .inventoryMain .inventory--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  .inventorySingle--wrapper .inventorySingle__item--spec {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (min-width: 1080px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .hero__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 0;
  }
  .hero__text--image {
    display: none !important;
    border: solid 5px green;
  }
  .hero__text .paragraph {
    margin: 0;
  }
  .hero__text .hero__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .hero__text .hero__links .callToAction {
    background-color: rgb(212, 26, 26);
    color: #ffffff;
    text-transform: capitalize;
  }
  .hero__image {
    width: 50%;
    display: block !important;
    align-items: center;
  }
  .inventory .inventoryMain .inventory--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
  .inventorySingle--wrapper .inventorySingle__item--spec {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .customOrder__mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .customOrder__mainContent--item {
    width: 50%;
  }
  .customOrder__mainContent .customOrder__mainContent--item + .customOrder__mainContent--item {
    align-self: flex-end;
  }
  .error--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .error--wrapper .error__item {
    width: 50%;
  }
}
.hero {
  height: 100vh;
}
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem 0;
}
.hero__text--image {
  display: block;
  padding: 2rem 0;
}
.hero__text .paragraph {
  margin: 2rem 0;
}
.hero__text .hero__links {
  width: 100%;
}
.hero__text .hero__links .btn {
  font-size: 2rem;
  display: block;
  width: inherit;
  margin-bottom: 2rem;
}
.hero__text .hero__links .callToAction {
  background-color: rgb(212, 26, 26);
  color: #ffffff;
}
.hero__text .hero__links .callToAction:hover {
  background-color: rgb(216, 59, 59);
}
.hero__image {
  display: none;
}

.mainTitle {
  font-size: 4rem;
  position: relative;
  padding: 2rem 0;
  color: rgb(58, 58, 58);
  font-family: "Poppins", sans-serif;
}
.mainTitle::before {
  content: "";
  background-color: rgb(212, 26, 26);
  height: 0.5rem;
  width: 10rem;
  position: absolute;
  bottom: 0;
}

.paragraph {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.btn {
  text-decoration: none;
  padding: 1em 2em;
  color: #000000;
  background-color: rgb(221, 221, 221);
  text-align: center;
  text-transform: capitalize;
  border: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  transform: translateY(-0.5rem);
}

.link {
  text-decoration: none;
  color: #000000;
}

.inventory {
  background-color: rgb(230, 230, 230);
  padding: 4rem 0;
}
.inventory .inventoryMain .inventory__sort {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.inventory .inventoryMain .inventory__sort .btn:hover {
  background-color: rgb(212, 26, 26);
  color: #ffffff;
}
.inventory .inventoryMain .inventory--wrapper {
  display: grid;
}
.inventory .inventoryMain .inventory--wrapper .inventoryCard {
  position: relative;
  background-color: white;
  width: 25rem;
  height: 32.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  transition: all 0.25s ease-in-out;
}
.inventory .inventoryMain .inventory--wrapper .inventoryCard:hover {
  transform: scale(1.05);
}
.inventory .inventoryMain .inventory--wrapper .inventoryCard .inventoryCard__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 45%;
}
.inventory .inventoryMain .inventory--wrapper .inventoryCard .inventoryCard__info {
  height: 50%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.inventory .inventoryMain .inventory--wrapper .inventoryCard .inventoryCard__info--name {
  color: rgb(212, 26, 26);
}
.inventory .inventoryMain .inventory--wrapper .inventoryCard .inventoryCard__info--price {
  font-size: 1.25rem;
  color: rgb(6, 143, 102);
}
.inventory .inventoryMain .inventory--wrapper .inventoryCard .inventoryCard__info--type {
  color: rgb(58, 58, 58);
  font-size: 1.25rem;
}
.inventory .inventoryMain .inventory--wrapper .inventoryCard .inventoryCard__kilometers {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgb(6, 143, 102);
  color: white;
  padding: 0.5rem 1.2rem;
}

.customOrder p {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.customOrder__mainContent--item {
  margin-bottom: 4rem;
}
.customOrder__mainContent--item h2 {
  font-size: 2rem;
  padding: 2rem 0;
  margin: 1rem 0;
}

.contact {
  height: 100vh;
}
.contact__heading {
  padding: 5rem 0;
}
.contact__mainContent {
  font-size: 1.5rem;
}
.contact--icon {
  color: rgb(212, 26, 26);
  margin-right: 1rem;
}

.error {
  height: 100vh;
  display: grid;
  place-items: center;
}
.error--wrapper .paragraph {
  margin: 4rem 0;
}
.error--wrapper .paragraph .link {
  color: rgb(212, 26, 26);
}

.inventorySingle .link {
  font-size: 1.5rem;
  color: rgb(58, 58, 58);
}
.inventorySingle .link:hover {
  color: rgb(212, 26, 26);
}
.inventorySingle--wrapper {
  margin: 4rem 0;
}
.inventorySingle--wrapper .inventorySingle__item {
  font-size: 1.5rem;
}
.inventorySingle--wrapper .inventorySingle__item .mainTitle {
  margin: 2rem 0;
}
.inventorySingle--wrapper .inventorySingle__item h3 {
  font-size: 2.75rem;
  margin: 2rem 0;
}
.inventorySingle--wrapper .inventorySingle__item .accentColor {
  color: rgb(6, 143, 102);
}
.inventorySingle--wrapper .inventorySingle__item--spec {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 4rem;
}
.inventorySingle--wrapper .inventorySingle__item--spec .spec--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: solid 1px rgb(206, 206, 206);
  padding: 2.5rem 0;
}/*# sourceMappingURL=main.css.map */